body {
  background-color: #fff;
}
#circle {
  position: relative;
  background-color: #09f;
  margin: 20px auto;
  width: 400px;
  height: 400px;
  border-radius: 200px;
}
.maintext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}
.subtext {
    position: absolute;
    top: 25%;
    left: 26%;
    font-size: 50px;
    color: chartreuse;
}
.btn-custom-right {
    font-size: 27px;
    position: absolute;
    top: 65%;
    left: 80%;
    cursor: pointer;
}
.btn-custom-left {
    font-size: 27px;
    position: absolute;
    top: 65%;
    left: 15%;
    cursor: pointer;
}
.btn-custom-home {
    font-size: 27px;
    position: absolute;
    top: 10%;
    left: 45%;
    cursor: pointer;
}
.bottom-img {
    width: 80px;
    position: absolute;
    top: 75%;
    left: 40%;
}